# Default ignored files
/shelf/
/target/
secrets/
config/certs/
config/modules/
/test/
/benches/
../target/
target/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
