# Default ignored files
/shelf/
/target/
/secrets/
/test/
/benches/
config/certs/
../target/
target/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
